Hi {{ .FirstName }},

{{.Sender}} invited you to join {{.Project}} on featureguards.com.
Please, use the link below to accept the invitation and create a new account.
{{ .Link }}

- The Feature Guards Team.